{% extends "layouts/govuk-template.html" %}

{% block pageTitle %}
Make a court claim for money – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <form action="submit-your-appeal" method="post">
        
          <h1 class="govuk-heading-xl">Make a court claim for money</h1>
          <p class="govuk-body">Contents</p>
          <ul class="govuk-list">
            <li>
                - <a class="govuk-link govuk-link--no-visited-state" href="gov-uk">What a court claim is</a>
            </li>
            <li>
              - <a class="govuk-link govuk-link--no-visited-state" href="court-fees.html">Court fees</a>
            </li>
            <li>
              - <a class="govuk-link govuk-link--no-visited-state" href="claim-the-interest.html">Claim the interest</a>
            </li>
            <li>
              - <a class="govuk-link govuk-link--no-visited-state" href="make-a-claim.html">Make a claim</a>
            </li>
            <li>
              - <a class="govuk-link govuk-link--no-visited-state" href="after-you-make-your-claim.html">After you make your claim</a>
            </li>
            <li>
              - What happens at the hearing</a>
            </li>
            <li>
              - <a class="govuk-link govuk-link--no-visited-state" href="enforce-a-judgement.html">Enforce a judgment</a>
            </li>
          </ul>
        </div>
        <div class="govuk-grid-column-two-thirds">
          <hr>
          <h1 class="gem-c-heading govuk-heading-l govuk-!-margin-bottom-6">What happens at the hearing</h1>
          
          <p class="govuk-body">Do not go to court if you have <a rel="external" href="https://www.nhs.uk/conditions/coronavirus-covid-19/symptoms/">coronavirus (COVID-19) symptoms </a> or if you’re self-isolating or in quarantine. Tell the court if you cannot attend. </p>

          <p class="govuk-body">If there’s a hearing, you can: </p>
            <ul class="govuk-list govuk-list--bullet">
            <li>represent yourself</li>
            <li><a rel="external" href="https://www.gov.uk/find-legal-advice">pay for a barrister or solicitor to represent you</a></li>
            <li>ask someone to advise you in court - they do not have to be a lawyer</li>
            <li>ask someone to speak on your behalf - you might need to get the court’s permission</li>
            </ul>

            <p>Your hearing can be held in the judge’s room or a courtroom in a county court if your claim is for less than £10,000. There might be a more formal hearing if you’re claiming for more.</p>

            <h2 class="govuk-heading-m">After the hearing</h2>

            <p>If you win your case, the court will order the person or business who owes you money (the ‘debtor’) to pay you. There are ways the court can <a class="govuk-link govuk-link--no-visited-state" href="enforce-a-judgement">collect your payment </a> if they ignore the court order.</p>

            <h2 class="govuk-heading-m">Appeal the decision</h2>

            <p>You can appeal the decision if you think the judge made a mistake during the hearing. You must do this within 21 days of getting the decision.</p>

            <p>Find out <a rel="external" href="https://www.gov.uk/which-court-or-tribunal-to-appeal-to">which court or tribunal to appeal to.</a></p>

            <p>Contact <a rel="external" href="https://www.citizensadvice.org.uk/about-us/contact-us/">Citizens Advice</a> to get free advice on appealing.</p>

          <a class="govuk-link--no-visited-state" href="after-you-make-your-claim.html">
            <h3 class="govuk-link govuk-!-margin-top-4">Previous</h3>
            <p class="govuk-link-blue">After you make your claim</p>
          </a>

          <a class="govuk-link--no-visited-state" href="enforce-a-judgement.html">
            <h3 class="govuk-link govuk-link--no-visited-state">Next</h3>
            <p class="govuk-link-blue">Enforce a judgement</p>
          </a>

        </form>

    </div>

    <div class="govuk-grid-column-one-third">
      <hr class="related-content-line">
      <h4 class="govuk-heading-s">Related content</h4>
      <a class="govuk-link govuk-link--no-visited-state" href="#">What to expect coming to a court or tribunal</a>
      
</div>

<style>
  .govuk-link-blue {
    color: #1D70B8;
  }

  .related-content-line {
    border: solid 1px #1D70B8;
  }
</style>

{% endblock %}
